* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
:root {
    --tran: .3s;
    --background-page: #f5f8f6;
    --header-color-blue: #03A9F4;
    --card-background: azure;
    --card-box: -8px -8px 20px #4b45450f;
}
a {
    text-decoration: none;
    color: inherit;
    outline: none;
}
li {
    list-style: none;
}
h5 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    width: fit-content;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 8px 15px;
    background-color: #5399bc;
    box-shadow: 0px 0px 15px 8px #64a8e0, 4px 4px 15px #2196f3;
    text-shadow: 0 0 10px white;
}
.continer {
    margin: 0 auto;
    width: 800px;
}
@media (min-width: 1200px) {
    .continer {
      width: 1000px;
    }
  }
@media (max-width: 915px) {
    .continer {
        width: 90%;
    }
}
.senterss {
    padding-top: 70px;
    padding-bottom: 70px;
}
body {
    background-color: var(--background-page);
}
/* start header */
header {
    position: fixed;
    top: 50%;
    left: 30px;
    width: 70px;
    background-color: #ffffff;
    transform: translateY(-50%);
    border-radius: 5px;
    box-shadow: 2px 2px 5px #fed9d952, -1px -1px 4px #fce5e573;
    z-index: 9999;
}
@media (max-width: 915px) {
    header {
        top: calc(100% - 89px);
        left: 0;
        transform: translateY(0);
        width: 100%;
        height: fit-content;
    }
}
header:hover + article.cover {
    opacity: 1;
}
header nav {
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
@media (max-width: 915px) {
    header nav {
        flex-flow: row nowrap;
    }    
}

header nav li {
    padding: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
header nav li:first-child a i {
    color: var(--header-color-blue);
}
header nav li a {
    font-size: 25px;
    color: #3c4247;
}
header nav li a i {
    transition: var(--tran);
}
header nav li:hover i {
    color: var(--header-color-blue);
}
/* end header */
/* start article cover */
article.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: var(--tran);
    pointer-events: none;
    z-index: 111;
}
article.shops {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
article.shops::before {
    content: '';
    position: absolute;
    bottom: -70%;
    right: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #2196f3, #00bcd4);
    transform: skewY(-15deg);
}
/* end article cover */
/* start section */
.sec1 {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 915px) {
    .sec1 {
        justify-content: center;
    }
}
.sec1 .text-home {

}
.sec1 .text-home h3 {
    font-size: 35px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px var(--header-color-blue);
    color: transparent;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sec1 .text-home p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #00bcd4;
}
.sec1 .text-home button {
    position: relative;
    padding: 5px 20px;
    outline: none;
    border: 2px dashed var(--header-color-blue);
    background-color: transparent;
    font-size: 20px;
    color: #00bcd4;
    font-family: math;
    cursor: pointer;
    transition: var(--tran);
    text-transform: lowercase;
}
.sec1 .text-home button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-color-blue);
    z-index: -2;
    transform: scaleX(0);
    transform-origin: left ;
    transition: .5s;
    border-radius: 0 40px 40px 0;
}
.sec1 .text-home button:hover::before {
    transform: scaleX(1);
    border-radius: 0 0 0 0 ;
}
.sec1 .text-home button:hover {
    color: #ffffff;
    border-color: transparent;
}
.sec1 .img-home {
    padding: 8px;
    background-color: #00bcd4;
    border-radius: 50%;
}
@media (max-width: 915px) {
    .sec1 .img-home {
        display: none;
    }
}
.sec1 .img-home .img {
    width: 300px;
    height: 300px;
    background-image: url(../image/home-img-1.jpg);
    background-size: cover;
    border-radius: 50%;
    animation: img-home 10s infinite linear;
}

@keyframes img-home {
    25% {
        background-image: url(../image/home-img-2.jpg);
    }
    50% {
        background-image: url(../image/home-img-3.jpg);
    }
    75% {
        background-image: url(../image/home-img-4.jpg);
    }
    100% {
        background-image: url(../image/home-img-1.jpg);
    }
}

.sec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec2 .center {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    background-color: var(--card-background);
    border-radius: 5px;
    box-shadow: var(--card-box);
    position: relative;
}
@media (max-width: 915px) {
    .sec2 .center {
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
}
.sec2 .center::before {
    content: '';
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #33333321;
    width: 90%;
    height: 1px;
}
.sec2 .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 915px) {
    .sec2 .logo {
        width: 100%;
    }
} 
.sec2 .logo h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #00bcd4;
    position: relative;
}
.sec2 .logo h4::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 5px;
    height: 100%;
    background-color: var(--header-color-blue);
}
.sec2 .logo .iimg {
    padding: 10px;
    border-style: solid;
    border: 5px solid var(--header-color-blue);
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
}
@media (max-width: 915px) {
    .sec2 .logo .iimg {
        
    }
}
.sec2 .logo .iimg img {
    width: 150px;
    padding: 5px;
    height: 150px;
    border-radius: 50%;
    background: #2196f3;
}
@media (max-width: 915px) {
    .sec2 .logo .iimg img {
        
    }
}
.sec2 .text-icon {
    position: relative;
}
.sec2 .text-icon .icons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sec2 .text-icon .icons .wrapper {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 915px) {
    .sec2 .text-icon .icons .wrapper {
        width: 100%;
    }
}
.sec2 .text-icon .icons .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 7px 5px 10px #0000001a;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sec2 .text-icon .icons .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sec2 .text-icon .icons .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.sec2 .text-icon .icons .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.sec2 .text-icon .icons .wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.sec2 .text-icon .icons .wrapper .facebook:hover,
.sec2 .text-icon .icons .wrapper .facebook:hover .tooltip,
.sec2 .text-icon .icons .wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}
.sec2 .text-icon .icons .wrapper .twitter:hover,
.sec2 .text-icon .icons .wrapper .twitter:hover .tooltip,
.sec2 .text-icon .icons .wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
.sec2 .text-icon .icons .wrapper .instagram:hover,
.sec2 .text-icon .icons .wrapper .instagram:hover .tooltip,
.sec2 .text-icon .icons .wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}
.sec2 .text-icon .icons .wrapper .github:hover,
.sec2 .text-icon .icons .wrapper .github:hover .tooltip,
.sec2 .text-icon .icons .wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
.sec2 .text-icon .icons .wrapper .youtube:hover,
.sec2 .text-icon .icons .wrapper .youtube:hover .tooltip,
.sec2 .text-icon .icons .wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.sec2 .text-icon .icons::before {
    content: '';
    position: absolute;
    top: -4px;
    width: 100%;
    height: 1px;
    background-color: #33333318;
}
.sec2 .text-p {
    width: 400px;
    margin-bottom: 10px;
}
@media (max-width: 915px) {
    .sec2 .text-p {
        width: 100%;
        margin-top: 25px;
    }
}
.sec2 .text-p p {
    font-size: 20px;
    color: #a0c7cc;
    line-height: 1.1;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: lowercase;
}
@media (max-width: 915px) {
    .sec2 .text-p p {
        font-size: 17px;
    }
}
.sec2 .shorkaa {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
@media (max-width: 915px) {
    .sec2 .shorkaa {
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        width: 100%;
    }
}
.sec2 .shorkaa span {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px);
    user-select: none;
    padding: 10px 0;
    transition: var(--tran);
    cursor: pointer;
    box-shadow: var(--card-box);
    border-radius: 5px;
}
@media (max-width: 915px) {
    .sec2 .shorkaa span {
        width: 100%;
    }
}
.sec2 .shorkaa span:hover {
    transform: scale(1.1);
}
.sec2 .shorkaa span img {
    width: 100px;
    height: 40px;
    opacity: .6;
}
.sec3 {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    position: relative;
}
.sec3 .card {
    width: 220px;
    height: 285px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    border: 10px solid white;
    box-shadow: var(--card-box);
}
@media (max-width: 915px) {
    .sec3 .card {
        width: 280px;
        height: 368px;
    }
}
.sec3 .card:hover .abouts {
    opacity: 1;
}
.sec3 .card .img-t {
    width: 100%;
    height: 100%;
    background-image: url(../image/t-shirt-1.jpg);
    background-size: cover;
}
.sec3 .card:nth-child(2) .img-t {
    background-image: url(../image/t-shirt-2.jpg);
}
.sec3 .card:nth-child(3) .img-t {
    background-image: url(../image/t-shirt-3.jpg);
}
.sec3 .card:nth-child(4) .img-t {
    background-image: url(../image/t-shirt-4.jpg);
}
.sec3 .card:nth-child(5) .img-t {
    background-image: url(../image/t-shirt-5.jpg);
}
.sec3 .card:nth-child(6) .img-t {
    background-image: url(../image/t-shirt-6.jpg);
}
.sec3 .card:nth-child(7) .img-t {
    background-image: url(../image/t-shirt-7.jpg);
}
.sec3 .card:nth-child(8) .img-t {
    background-image: url(../image/t-shirt-8.jpg);
}
.sec3 .card:nth-child(9) .img-t {
    background-image: url(../image/t-shirt-9.jpg);
}

.sec3 .card .abouts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 11;
    transform-origin: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    opacity: 0;
    transition: .5s;
}
.sec3 .card .abouts h1 {
    color: white;
    margin-top: 10px;
    font-size: 22px;
}
.sec3 .card .abouts p {
    color: white;
    margin-top: 10px;
}
.sec3 .card .abouts button {
    padding: 10px 35px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid var(--header-color-blue);
    background-color: transparent;
    color: #ffffff;
}
.sec3 .card .abouts button i {
    margin-right: 10px;
}
.sec3 > span {
    display: flex;
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 40px;
    background-image: repeating-linear-gradient(7deg, #12d3ffd6, #06ded4 100px);
    border-radius: 3px;
    font-weight: bold;
    color: #4b4545bd ;
    cursor: pointer;
}
.sec3 > span:hover {
    text-decoration: underline;
}
.sec3 > span i {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}
.sec4 {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}
.bottoms {
    margin-top: 40px;
}
.sec4 .user-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    padding: 25px;
    background-color: var(--card-background);
    border-radius: 5px;
    position: relative;
    box-shadow: var(--card-box);
}
.sec4 .user-comment .top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.sec4 .user-comment .top .aaa {

}
.sec4 .user-comment .top > .spa {
    display: block;
    width: fit-content;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.sec4 .user-comment .top span img {
    width: 50px;
    margin-bottom: -4px;
}
.sec4 .user-comment h6 {
    font-size: 20px;
    color: #4b4545;
    margin-bottom: 4px;
}
.sec4 .user-comment span i {
    color: var(--header-color-blue);
}
.sec4 .user-comment p {
    color: #cbafaf;
    font-family: revert;
    font-size: 17px;
}
.sec4 .user-comment button {
    padding: 8px 15px;
    border: none;
    background-color: var(--header-color-blue);
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 3px;
    transition: var(--tran);
    margin-top: 20px;
    cursor: pointer;
}
.sec4 .user-comment button:hover {
    background-color: #00bcd4;
    color: #ffffff;
}
.sec4 .user-comment button:hover i {
    color: #ffffff;
}
.sec4 .user-comment button i {
    font-size: 17px;
    transition: var(--tran);
    margin-right: 10px;
}
.sec5 {

}
.sec5 .cont {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-right: 0;
    margin: 0 auto;
    width: 100%;
    box-shadow: var(--card-box);
    background-color: var(--background-page);
    border-radius: 5px;
}
@media (max-width: 915px) {
    .sec5 .cont {
        padding-right: 25px;
    }
}
.sec5 .cont .continerform {
    width: 55%;
    background-color: var(--card-background);
    box-shadow: 0px 0px 18px #fbd1d182;
    border-radius: 5px;
    padding: 20px;
}
@media (max-width: 915px) {
    .sec5 .cont .continerform {
        width: 100%;
    }
}
.sec5 .cont .continerform input.inputone {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: none;
    background-color: transparent;
    box-shadow: 1px 1px 2px #f3cccc9a inset, inset -3px -3px 6px #fff8f8;
    color: #3c4247;
} 
.sec5 .cont .continerform textarea {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    height: 150px;
    border: none;
    appearance: none;
    box-shadow: 1px 1px 2px #f3cccc9a inset, inset -3px -3px 6px #fff8f8;
    color: #3c4247;
}
.sec5 .cont .continerform input[type='submit'] {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--header-color-blue);
    border: none;
    outline: none;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 17px;
    transition: var(--tran);
    cursor: pointer;
}
.sec5 .cont .continerform input[type='submit']:hover {
    background-color: #00bcd4;
}
.sec5 .cotactimg {
    padding-top: 10px;
    width: 48%;
}
@media (max-width: 915px) {
    .sec5 .cotactimg {
        display: none;
    }
}
.sec5 h2 {
    margin-top: 20px;
    text-align: center;
    color: #4b4545;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.sec5 .cotactimg p {
    width: 215px;
    margin: 10px auto;
    font-size: 19px;
    color: #3333335d;
}
.sec5 .cont .cotactimg .imgas {
    width: fit-content;
    margin: 20px auto;
}
.sec5 .cont .cotactimg img {
    width: 110px;
}
.sec5 .cont .cotactimg ul {
    position: absolute;
    top: 46%;
    right: 10px;
}
.sec5 .cont .cotactimg ul li {
    width: 35px;
    height: 35px;
    margin: 10px;
    background-color: var(--header-color-blue);
    border-radius: 50%;
    transition: var(--tran);
}
.sec5 .cont .cotactimg ul li:hover {
    background-color: #00bcd4;
}
.sec5 .cont .cotactimg ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.sec5 .cont .cotactimg ul li a i {
    color: #ffffff;
}

/* end section */
/* start footer */
footer {
    margin-top: 100px;
    padding: 95px 0;
    background-color: #ffffff;
}
footer .sese {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 915px) {
    footer .sese {
        justify-content: center;
        flex-direction: column;
        row-gap: 40px;
    }
    footer .sese div {
        text-align: center;
    }
}
footer .sese .div1 {

}
footer .sese div {
    flex: 1;
}
footer .sese div h6 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #3c4247c9;
}
footer .sese div:not(:last-child) li {
    margin: 12px 0;
    color: #5f5a5a;
} 
footer .sese div:not(:last-child) a:hover {
    text-decoration: underline;
}
footer .sese .div4 p {
    color: #5f5a5a;
    margin-bottom: 25px;
}
footer .sese .div4 ul {

}
footer .sese .div4 li {
    display: inline-block;
    margin: 0 2px;
}
footer .sese .div4 li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #3c4247;
    font-size: 18px;
    color: #ffffff;

}
footer .sese .div4 li a:hover {
    background-color: #333333;
}
/* end footer */

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }